.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th
{padding:4px 1px !important;line-height:1.42857143;vertical-align:middle;border-top:1px solid #ddd;border: 0.5px solid #ddd;text-align: center;font-size: small}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th{
    /*border-left: 1px solid #bab7b7;*/
}

.bootstrap-duallistbox-container select{
    height: 400px !important;
}